extends layout

block content
	h1 #{hint}
	h2 The total is #{result}
	form(action='/getData',method='post')
		label Please Enter a number:
			input(type='text',name='inputNum')
		button(type='submit') Submit